<html>

<head>
    <title>Blog Site</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/app.css">
</head>

<body>


    <div class="ui fixed inverted  menu">
        <div class="ui container">
            <div class="header item"><i class="file alternate icon"></i> Blog Site</div>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="red item">New Post</a>
            <div class="right menu">
                <div class="item">
                    <a href="/blogs/LogInForm" class="ui inverted basic purple button" href=""></i>Sign Up</a>
                </div>
                <div class="item">
                    <a href="/blogs/LogInForm" class="ui inverted basic blue button" href=""></i>Log In</a>
                </div>
            </div>
        </div>
    </div>