<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<link rel="stylesheet" type="text/css" href="/app.css">

<div class="ui main text container segment">
    <div class="ui huge red header">Log In </div>
    <form class="ui form" action="" method="">
        <div class="required field">
            <label>Email</label>
            <input type="email" name="name" placeholder="Enter Email">
        </div>
        <div class="required field">
            <label>Password</label>
            <input type="password" name="password" placeholder="Enter password">
        </div>
        <div class="required inline field">
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" class="hidden">
                <label>I agree to the terms and conditions</label>
            </div>
        </div>
        <input class="ui inverted large green button" type="submit">
    </form>
</div>